/*

Styling sheet for X8 GUI

*/

/* Packaging style classes */
.app-background {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    -webkit-user-select: none;
}

.app-panel {
    margin: 5px;
    height: calc(100% - 10px);
    background: rgba(255,255,255,0.4);
    overflow: hidden;
    border: 1px solid silver;
}

.big-label {
    height: 30px;
    margin: 10px;
    font-size: 30px;
    font-family: Arial;
    color: white;
    text-shadow: 0px 0px 5px black;
    cursor: default;
}

.select-table {
    margin: 10px;
    background: rgba(44,52,93,0.5);
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid silver;
}

.btn-panel {
    height: 50px;
    margin: 10px;
}

.btn-square {
    height: 50px;
}

.icon-50 {
    font-size: 20px;
}

.btn-blue:hover {
    color: blue;
}

.btn-red:hover {
    color: red;
}

.select-table-row {
    position: absolute;
    height: 30px;
    width: calc(100% - 10px);
    margin: 5px;
    font-size: 16px;
    font-family: Arial;
    color: black;
    cursor: default;
    line-height: 30px;
    text-indent: 15px;
    background: -webkit-linear-gradient(top, #E5E5E5, #A5A5A5);
}

.row-ease {
    transition: top 0.25s;
    -webkit-transition: top 0.25s;
}

.select-table-row-hover:hover {
    background: -webkit-linear-gradient(top, #DCEEE3, #86C49D);
}

.select-table-selected {
    background: -webkit-linear-gradient(top, #D5E8F5, #6EAFDC);
}

.graph-timeline {
    margin: 10px;
    background: rgba(44,52,93,0.5);
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid silver;
}

.graph-timeline-object {
    position: absolute;
    height: calc(100% - 10px);
    width: 200px;
    margin: 5px;
    cursor: default;
    background:
    radial-gradient(#282828 15%, transparent 16%) 0 0,
    radial-gradient(#282828 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#404040;
    background-size:16px 16px;
    border-radius: 10px;
    border: 1px solid silver;
    overflow: hidden;
}

.timeline-ease {
    transition: left 0.25s;
    -webkit-transition: left 0.25s;
}

.graph-timeline-content {
    position: static;
    margin: 10px;
    padding: 5px;
    background-image: -webkit-linear-gradient(top, #E5E5E5, #A5A5A5); /* Chrome 10+, Saf5.1+ */
    border-radius: 5px;
    //border: 3px solid #55BF3B;

}

.graph-timeline-number {
    height: 25px;
    margin-bottom: 10px;
    font-size: 25px;
    font-family: Arial;
    color: black;
    cursor: default;
}

.form-group-tight {
    margin-bottom: 5px;
}
