<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title> EC Analyzer</title>

        <!-- favicon -->
        <link

        <!-- SCRIPTS INCLUDED -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        
        <!-- jquery -->
        <script src="/static/js/jquery/jquery.min.js"></script>

        <!-- jquery deserialize plugin -->
        <script src="/static/js/jquery/jquery.ba-bbq.js"></script>
    
        <!-- highcharts scripts -->
        <script src="/static/js/highcharts/highcharts.js"></script>
        <script src="/static/js/highcharts/exporting.js"></script>
        <script src="/static/js/highcharts/dark-blue.js"></script>
    
	  
        <!-- MY SCRIPTS -->

        <!-- main application -->
        <script src="/static/js/client/client.js"></script>
        <script src="/static/js/client/config/config.js"></script>
        <script src="/static/js/client/config/waveform_editor.js"></script>
        <script src="/static/js/client/config/welcome.js"></script>
        <script src="/static/js/client/config/run_experiment.js"></script>
        <script src="/static/js/client/config/cyclic_voltammetry.js"></script>
        <script src="/static/js/httpcomm/httpcomm.js"></script>
        <script src="/static/js/client/init.js"></script>

        <!-- styling -->
        <link href="/static/css/app-style.css" rel="stylesheet"> <!-- My stylesheet -->
    
    </head>
    <body>

        <div class="app-background">
            <div id="header" class="app-header">
                <img src="/static/img/banner.png" style="float: right">
            </div>
            <div class="app-body">
                <div id="TL" class="app-panel-TL">
                </div>
                <div id="TR" class="app-panel-TR">
                </div>
                <div id="ML" class="app-panel-ML">
                </div>
                <div id="MR" class="app-panel-MR">
                </div>
                <div id="BL" class="app-panel-BL">
                </div>
                <div id="BR" class="app-panel-BR">
                </div>
            </div>
        </div>
        <div class="spinner-background" id="spinner_container">
            <div class="spinner" id="spinner_1">
            </div>
            <div class="spinner" id="spinner_2">
            </div>
            <div class="spinner" id="spinner_3">
            </div>
            <div class="spinner" id="spinner_4">
            </div>
            <div class="spinner" id="spinner_5">
            </div>
        </div>

    </body>
</html>
