{% extends "layout.html" %}

{% block content %}

    {# Load Widgets #}
    {% from "select-table.html" import selecttable %}
    {% from "button-panel.html" import buttonpanel %}

    {# Set config options #}
    {% set openview = {
        "labeltext": "Open Experiment",
        "buttonpanel": {
            "leftbuttons": [{
                "id": "uploadBtn",
                "text": "  Upload",
                "icon": "glyphicon-cloud-upload",
                "hover": "btn-blue"
            }],
            "rightbuttons": [{
                "id": "deleteBtn",
                "text": "  Delete",
                "icon": "glyphicon-trash",
                "hover": "btn-red"
            }, {
                "id": "openBtn",
                "text": "  Open",
                "icon": "glyphicon-folder-open",
                "hover": "btn-blue"
            }]
        }
    } %}

    {% set createview = {
        "labeltext": "Create Experiment",
        "buttonpanel": {
            "leftbuttons": [],
            "rightbuttons": [{
                "id": "createBtn",
                "text": "  Create",
                "icon": "glyphicon-pencil",
                "hover": "btn-blue"
            }]
        }
    } %}

    {# Page definition #}
    <div class="col-xs-6" style="height:60%">
        <div class="app-panel">
            <div class="big-label">{{ openview.labeltext }}</div>
            <div id="openTableContainer">
                {{ selecttable([], "openSelectTable", "calc(100% - 120px)") }}
            </div>
            {{ buttonpanel(openview.buttonpanel.leftbuttons, openview.buttonpanel.rightbuttons) }}
        </div>
    </div>
    <div class="col-xs-6" style="height:60%">
        <div class="app-panel">
            <div class="big-label">{{ createview.labeltext }}</div>
            <div id="createTableContainer">
                {{ selecttable([], "createSelectTable", "calc(100% - 120px)") }}
            </div>
            {{ buttonpanel(createview.buttonpanel.leftbuttons, createview.buttonpanel.rightbuttons) }}
        </div>
    </div>
    <div class="col-xs-12" style="height:40%">
        <div class="app-panel">
        </div>
    </div>

    {# Page javascript #}
    <script>

        $("#openBtn").click(function() {
            // open experiment
            console.log($("#openSelectTable").selectedRow("get"));
            window.location.href = "/editor/" + $("#openSelectTable").selectedRow("get");
        });

        $("#deleteBtn").click(function() {
            // delete experiment
            $("#openSelectTable").selectedRow("delete");
        });

        $("#createBtn").click(function() {
            // create experiment
            console.log($("#createSelectTable").selectedRow("get"));
        });

        // load open table with available experiments
        function loadExperiments() {
            $.get("/get_experiments", null, function(data) {
                $("#openTableContainer").loadWidget("select-table.html", {listobjects:data.experiments, id:"openSelectTable", height:"calc(100% - 120px)"});
            }, "json");
        }

        // load technique table with available techniques
        function loadTechniques() {
            var techniques = ["Cyclic Voltammetry", "Square Wave Voltammetry"];
            $("#createTableContainer").loadWidget("select-table.html", {listobjects:techniques, id:"createSelectTable", height:"calc(100% - 120px)"});
        }

        loadExperiments();
        loadTechniques();

    </script>

{% endblock %}
