{% extends "layout.html" %}

{% block content %}

    {% from "button-panel.html" import buttonpanel %}

    {% set openview = {
        "labeltext": "Open Experiment",
        "buttonpanel": {
            "leftbuttons": [{
                "text": "  Upload",
                "icon": "glyphicon-cloud-upload",
                "hover": "btn-blue"
            }],
            "rightbuttons": [{
                "text": "  Delete",
                "icon": "glyphicon-trash",
                "hover": "btn-red"
            }, {
                "text": "  Open",
                "icon": "glyphicon-folder-open",
                "hover": "btn-blue"
            }]
        }
    } %}

    {% set createview = {
        "labeltext": "Create Experiment",
        "buttonpanel": {
            "leftbuttons": [],
            "rightbuttons": [{
                "text": "  Create",
                "icon": "glyphicon-pencil",
                "hover": "btn-blue"
            }]
        }
    } %}

    <div class="col-xs-6" style="height:60%">
        <div class="app-panel">
            <div class="big-label">{{ openview.labeltext }}</div>
            <div class="select-table" style="height:calc(100% - 120px)"></div>
            {{ buttonpanel(openview.buttonpanel.leftbuttons, openview.buttonpanel.rightbuttons) }}
        </div>
    </div>
    <div class="col-xs-6" style="height:60%">
        <div class="app-panel">
            <div class="big-label">{{ createview.labeltext }}</div>
            <div class="select-table" style="height:calc(100% - 120px)"></div>
            {{ buttonpanel(createview.buttonpanel.leftbuttons, createview.buttonpanel.rightbuttons) }}
        </div>
    </div>
    <div class="col-xs-12" style="height:40%">
        <div class="app-panel">
        </div>
    </div>
{% endblock %}
