{% extends "layout.html" %}

{% block content %}

    {% from "select-table.html" import selecttable %}
    {% from "button-panel.html" import buttonpanel %}

    {% set techniques = ["Cyclic Voltammetry", "Square Wave Voltammetry"] %}

    {% set openview = {
        "labeltext": "Open Experiment",
        "buttonpanel": {
            "leftbuttons": [{
                "id": "uploadBtn",
                "text": "  Upload",
                "icon": "glyphicon-cloud-upload",
                "hover": "btn-blue"
            }],
            "rightbuttons": [{
                "id": "deleteBtn",
                "text": "  Delete",
                "icon": "glyphicon-trash",
                "hover": "btn-red"
            }, {
                "id": "openBtn",
                "text": "  Open",
                "icon": "glyphicon-folder-open",
                "hover": "btn-blue"
            }]
        }
    } %}

    {% set createview = {
        "labeltext": "Create Experiment",
        "buttonpanel": {
            "leftbuttons": [],
            "rightbuttons": [{
                "id": "createBtn",
                "text": "  Create",
                "icon": "glyphicon-pencil",
                "hover": "btn-blue"
            }]
        }
    } %}

    <div class="col-xs-6" style="height:60%">
        <div class="app-panel">
            <div class="big-label">{{ openview.labeltext }}</div>
            {{ selecttable(experiments, "openSelectTable", "height:calc(100% - 120px)") }}
            {{ buttonpanel(openview.buttonpanel.leftbuttons, openview.buttonpanel.rightbuttons) }}
        </div>
    </div>
    <div class="col-xs-6" style="height:60%">
        <div class="app-panel">
            <div class="big-label">{{ createview.labeltext }}</div>
            {{ selecttable(techniques, "createSelectTable", "height:calc(100% - 120px)") }}
            {{ buttonpanel(createview.buttonpanel.leftbuttons, createview.buttonpanel.rightbuttons) }}
        </div>
    </div>
    <div class="col-xs-12" style="height:40%">
        <div class="app-panel">
        </div>
    </div>

    <script>

        $("#openBtn").click(function() {
        });

        $("#deleteBtn").click(function() {
            $("#openSelectTable").selectedRow("delete");
        });

    </script>

{% endblock %}
