{% macro selecttable(listobjects, id, height) %}
    <div id="{{id}}" class="select-table" style="height:{{ height }}" selectedRow="-1">
        <ol style="list-style-type:none; padding-left:0; position:relative">
            {% for obj in listobjects %}
                <li id="{{id}}listobject{{loop.index - 1}}" class="select-table-row select-table-row-hover row-ease" tabindex="{{loop.index}}" onclick="selectRow({{loop.index - 1}}, '{{id}}')" style="top:{{35*(loop.index-1)}}px">{{ obj }}</li>
            {% endfor %}
        </ol>
    </div>

    <script>

        function selectRow(index, id) {
            if ($("#" + id + "listobject" + index).hasClass("select-table-selected")) {
                // set selected row
                $("#" + id).attr("selectedRow", "-1");

                // unselect row css
                $("#" + id + "listobject" + index).addClass("select-table-row-hover");
                $("#" + id + "listobject" + index).removeClass("select-table-selected");
            }
            else {
                // unselect previous row css
                $("#" + id + "listobject" + $("#" + id).attr("selectedRow")).addClass("select-table-row-hover");
                $("#" + id + "listobject" + $("#" + id).attr("selectedRow")).removeClass("select-table-selected");

                // set selected row
                $("#" + id).attr("selectedRow", index);

                // select row css
                $("#" + id + "listobject" + index).addClass("select-table-selected");
                $("#" + id + "listobject" + index).removeClass("select-table-row-hover");
            }
        }

        // jQuery plugin for manipulating the selected row
        // "get"    -- returns the text of the selected row
        // "delete" -- removes selected row
        $.fn.selectedRow = function(action) {
            if (action == "get") {
                if (this.attr("selectedRow") == "-1") return null;
                else return $("#" + this.attr("id") + "listobject" + this.attr("selectedRow")).text();
            }
            else if (action == "delete") {
                if (this.attr("selectedRow") == "-1") return;
                else {
                    $("#" + this.attr("id") + "listobject" + this.attr("selectedRow")).remove();
                    $("#" + this.attr("id") + " > ol > li").each(function(i, obj) {
                        $(obj).css("top", 35*i + "px");
                    });
                }
            }
        }

    </script>
{% endmacro %}

{% if context %}
    {{ selecttable(context.listobjects, context.id, context.height) }}
{% endif %}
